@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d7eaed !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.masonry-column {
  background-clip: padding-box;
}
